<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link rel="stylesheet" href="../static/css/sign.css" />
  <script type="text/javascript" src="../js/sign.js"></script>
  <title>SIGN UP</title>
</head>
<body class="up">
  <div id="root">
    <div class="App">
      {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
      <div class="Panel FormPanel">
        <h2><a href="/">Sign Up</a></h2>
        <p>개인 정보 입력</p>
        <form action="sign_up" method="post" id="sign_form">
          <input type="text" name="userid" placeholder="id">
          <input type="text" name="username" placeholder="name">
          <input type="password" name="userpw" placeholder="Password">
          <input type="password" name="userpw2" placeholder="Password2">
          <input type="email" name="useremail" placeholder="Email">
          <input id="member_addr" name="userad" placeholder="address" readonly onclick="findAddr()">
          <input type="date" name="userbirth"placeholder="0000-00-00">
        </form>
        <button type="submit" form="sign_form"  style='cursor:pointer';>Sign Up</button>
      </div>
      <div class="Panel ActionPanel">
          
        </div>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.production.min.js"></script>
  <script>function findAddr(){
    new daum.Postcode({
          oncomplete: function(data) {
            
            console.log(data);
            
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
              // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var roadAddr = data.roadAddress; // 도로명 주소 변수
              var jibunAddr = data.jibunAddress; // 지번 주소 변수
              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              //document.getElementById('member_post').value = data.zonecode;
              if(roadAddr !== ''){
                  document.getElementById("member_addr").value = roadAddr;
              } 
              else if(jibunAddr !== ''){
                  document.getElementById("member_addr").value = jibunAddr;
              }
          }
}).open();
}</script>
</body>
</html>
        